.home-wrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(238, 238, 238);
  height: 98vh;
  padding: 50px;
  .game-wrapper {
    width: 70%;
    .controls {
      display: flex;
      flex-direction: row;
      height: 40px;
      outline: none;
      > * {
        margin-right: 10px;
      }
      .game-mode-dropdown {
        width: 140px;
        background-color: rgb(209, 216, 220);
        padding: 10px;
        border-radius: 5px;
        .game-mode {
          height: 30px;
          cursor: pointer;
        }
        .dropdown {
          display: none;
          &.open {
            position: absolute;
            background-color: #ffffff;
            width: auto;
            min-width: 144px;
            box-shadow: 0 8px 20px rgba(#212121, 0.54);
            border-radius: 5px;
            padding: 20px 25px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: flex-start;
          }
          & > .mode {
            cursor: pointer;
            width: 100%;
            padding: 5px;
            &.selected {
              background-color: #d1d8dc;
            }
          }
        }
      }
      input {
        border: none;
        background-color: rgb(242, 242, 242);
        padding-left: 10px;
      }
      button {
        padding: 0px 25px;
        border: none;
        background-color: rgb(121, 141, 146);
        cursor: pointer;
        &.disabled {
          cursor: default;
        }
      }
      
    }
    .message {
      margin: 30px 0 0px 60px;
    }
    .matrix {
      margin: 30px 0;
      display: flex;
      flex-flow: row wrap;
      flex-direction: column;
      .row {
        display: flex;
        flex-direction: row;
        .column {
          flex: 0 1 calc(20%);
          max-width: 100px;
          height: 100px;
          border: 1px solid black;
          .square {
            width: 100%;
            height: 100%;
            &:not(:nth-child(5n)) {
              border-right: none;
            }
            &:not(:nth-child(n + 21)) {
              border-bottom: none;
            }
            &.blue {
              background-color: rgb(112, 213, 229);
            }
            &.green {
              background-color: rgb(106, 227, 116);
            }
            &.red {
              background-color: rgb(216, 99, 99);
            }
          }
        }
      }
    }
  }
  .leader-board-wrapper {
    width: 33%;
    border-left: 1px solid rgb(238, 238, 238);
    .header {
      padding: 20px;
      h2 {
        margin: 0;
      }
    }
    .body {
      padding: 20px;
      .winner {
        display: flex;
        justify-content: space-between;
        margin: 5px;
        padding: 20px;
        background-color: #d0d8dc;
      }
    }
  }
}

.arrow {
  margin: 0px 0px 2px 7px;
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  &.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
